html,
body {
    font-size: 62.5%;
    padding:0;
    margin:0;
    box-sizing:border-box;
}

$colors: (
    blackk: #13212b,
    yelloww: #ffe917,
    bluee: #1a2b38
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

$hfont: 'Times New Roman', Times, serif;
$tfont: Arial, Helvetica, sans-serif;